<a href="https://colab.research.google.com/github/carlosclaudinolima/ml_com_sklearn/blob/main/Projeto_marketing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
url = 'https://raw.githubusercontent.com/alura-cursos/Clusterizacao-dados-sem-rotulo/main/Dados/dados_mkt.csv'

# Coletando e ajustando dados

In [3]:
df = pd.read_csv(url)
df

,sexo,idade,numero_de_amigos,basquete,futebol_americano,futebol,softbol,voleibol,natacao,animacao,...,musica,rock,cabelo,vestido,shopping,compras,roupas,nossa_marca,marca_concorrente,bebidas
0,F,27,49,0,0,10,0,0,10,0,...,0,0,0,0,0,0,0,0,0,10
1,F,27,41,0,0,0,0,0,0,0,...,10,20,40,0,10,0,0,0,0,10
2,F,26,1,0,0,0,0,0,10,0,...,10,0,50,0,0,0,30,0,0,0
3,M,28,32,0,50,0,0,0,0,0,...,10,10,0,0,0,0,0,0,0,0
4,M,28,18,0,0,0,0,0,0,0,...,0,0,0,0,0,0,10,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12987,F,26,21,0,0,0,0,0,0,0,...,0,10,10,0,0,0,20,0,0,0
12988,F,26,50,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12989,F,27,32,0,0,0,0,0,0,10,...,0,0,0,0,0,0,0,0,0,0
12990,F,27,20,0,0,0,0,0,0,0,...,10,0,0,0,0,0,0,0,0,0
12991,F,25,25,0,0,70,0,0,0,0,...,20,0,0,0,20,10,10,0,0,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12992 entries, 0 to 12991
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sexo               12992 non-null  object
 1   idade              12992 non-null  int64
 2   numero_de_amigos   12992 non-null  int64
 3   basquete           12992 non-null  int64
 4   futebol_americano  12992 non-null  int64
 5   futebol            12992 non-null  int64
 6   softbol            12992 non-null  int64
 7   voleibol           12992 non-null  int64
 8   natacao            12992 non-null  int64
 9   animacao           12992 non-null  int64
 10  beisebol           12992 non-null  int64
 11  tenis              12992 non-null  int64
 12  esportes           12992 non-null  int64
 13  fofo               12992 non-null  int64
 14  danca              12992 non-null  int64
 15  banda              12992 non-null  int64
 16  marcha             12992 non-null  int64
 17  musica             12992 non-null  int64
 18  rock               12992 non-null  int64
 19  cabelo             12992 non-null  int64
 20  vestido            12992 non-null  int64
 21  shopping           12992 non-null  int64
 22  compras            12992 non-null  int64
 23  roupas             12992 non-null  int64
 24  nossa_marca        12992 non-null  int64
 25  marca_concorrente  12992 non-null  int64
 26  bebidas            12992 non-null  int64
dtypes: int64(26), object(1)
memory usage: 2.7+ MB

In [5]:
df['sexo'].unique()

array(['F', 'M', 'NE'], dtype=object)

## Aplicando encoder

In [8]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(categories=[['NE', 'F', 'M']], sparse_output=False)

In [10]:
encoded_sexo = encoder.fit_transform(df[['sexo']])
encoded_sexo

array([[0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       ...,
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.]])

In [12]:
encoded_df = pd.DataFrame(encoded_sexo, columns=encoder.get_feature_names_out(['sexo']))

In [14]:
dados = pd.concat([df, encoded_df])

## Desenvolvendo o modelo

# Avaliando o K-means

## Avaliando métricas para diferentes K

## Aula 2.3 - Verificando a silhueta por amostras

In [ ]:
import matplotlib.cm as cm
from sklearn.metrics import silhouette_samples

def graf_silhueta (n_clusters, dados):

  # Aplica o KMeans ao conjunto de dados
  kmeans = KMeans(n_clusters=n_clusters, random_state=45, n_init = 'auto')
  cluster_previsoes = kmeans.fit_predict(dados)

  # Calcula o silhouette score médio
  silhueta_media = silhouette_score(dados, cluster_previsoes)
  print(f'Valor médio para {n_clusters} clusters: {silhueta_media:.3f}')

  # Calcula a pontuação de silhueta para cada amostra
  silhueta_amostra = silhouette_samples(dados, cluster_previsoes)

  # Configuração da figura para o gráfico de silhueta
  fig, ax1 = plt.subplots(1, 1)
  fig.set_size_inches(9, 7)

  # Limites do gráfico de silhueta
  ax1.set_xlim([-0.1, 1])
  ax1.set_ylim([0, len(dados) + (n_clusters + 1) * 10])

  y_lower = 10
  for i in range(n_clusters):
      ith_cluster_silhueta_amostra = silhueta_amostra[cluster_previsoes == i]
      ith_cluster_silhueta_amostra.sort()

      tamanho_cluster_i = ith_cluster_silhueta_amostra.shape[0]
      y_upper = y_lower + tamanho_cluster_i

      cor = cm.nipy_spectral(float(i) / n_clusters)
      ax1.fill_betweenx(np.arange(y_lower, y_upper), 0, ith_cluster_silhueta_amostra,
                        facecolor=cor, edgecolor=cor, alpha=0.7)

      ax1.text(-0.05, y_lower + 0.5 * tamanho_cluster_i, str(i))
      y_lower = y_upper + 10  # 10 para o espaço entre gráficos

  # Linha vertical para a média do Silhouette Score
  ax1.axvline(x=silhueta_media, color='red', linestyle='--')

  ax1.set_title(f'Gráfico da Silhueta para {n_clusters} clusters')
  ax1.set_xlabel('Valores do coeficiente de silhueta')
  ax1.set_ylabel('Rótulo do cluster')

  ax1.set_yticks([])  # Remove os ticks do eixo y
  ax1.set_xticks([i/10.0 for i in range(-1, 11)])

  plt.show()

### Outras visualizações

# Avaliação e ajuste de dados

## Verificando as métricas para os novos dados

## Criando o melhor modelo

# Analisando as informações de cada cluster

## Descrevendo cada agrupamento